@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
/*@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

use local fonts instead (except for Roboto Mono: font weight issue when using
local font and export to PDF using DeckTape)
*/

body { font-family: 'Droid Sans'; }

h1, h2, h3 {
	font-family: 'Merriweather Sans';
	font-weight: bold;
	font-size: 35px !important;
	color: #32445a;
}

.remark-code, .remark-inline-code {
	font-family: 'Roboto Mono';
}

.remark-code {
	font-size: 14px;
	color: #64748c;
}

.remark-inline-code {
	font-size: 17px;
}

.python {
	background-color: #f4f4f4 !important;
}

.remark-slide-content {
	  padding:3.7em 4em 2em 4em !important;
}

pre {
	margin: 8px 0;
}

div.header-wrap {
    background-color: #5c7ca4;
    border-bottom: 1px solid #2c5c84;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    padding: 8px 10px;
    text-align: center;
}

div.logo-left {
    width: 12%;
    text-align: left;
    float: left;
}

div.logo-right {
    width: 12%;
    text-align: right;
    float: left;
}

div.title-warp {
    width: 74%;
    float: left;
		color: #fff;
}

div.title {
    text-align: center;
    font-size: 23px;
    font-family: 'Merriweather Sans';
}

div.authors {
    text-align: center;
    font-size: 13px;
		margin-top: 2px;
		color: #e9eff7;
}

div.affiliations {
    text-align: center;
    font-size: 11px;
    color: #d0d6de;
    margin-top: 3px;
}

div.footer-logos {
    position: absolute;
    bottom: 30px;
    left: 0;
    height: 35px;
    width: 100%;
    text-align: right;
}

div.footer-logos span {
		vertical-align: bottom;
		text-align: left;
    margin-right: 10px;
		font-size: 11px;
		color: #64748c;
}

div.footer-logos img {
    margin-right: 10px;
		vertical-align: bottom;
}

div.footer-wrap {
    background-color: #5c7ca4;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
		padding: 0;
}

div.footer-wrap ul {
    padding: 0 10px;
    margin: 0;
    text-align: left;
}

div.footer-wrap ul li {
    font-size: 15px;
    display: inline-block;
    padding: 6px 10px;
		color: #d0d6de;
}

.current-nav {
    background-color: #d0d6de;
    color: #32445a !important;
}

.lightblue {
	  color: #64748c;
}

.orange {
	  color: #e4710e;
}
